/* In your CSS file */
@import 'modern-normalize/modern-normalize.css';

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* DANTE CODE HERE -----------*/

html {
  color-scheme: dark;
}

body {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  gap: 20px;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.personalInfo-container,
.education-container,
.practicalExperience-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 2.5rem;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
button {
  width: 100px;
  height: 30px;
  align-self: center;
}

